{% extends 'base.html' %}
{# for showing the each page name in the title#}
{% block title %} | Account Login {% endblock %}
{% block content %}

     <section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">

                <!-- Alerts messages -->
                {% include 'partials/_alerts.html' %}

              <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
            </div>

              <p class="text-center text-dark font-weight-bold">
                     <a href="#">Forget Password</a>
              </p>

              <p class="text-center">
                  Don't have account?
                  <a href="{% url 'register' %}" class="alert-link">
                      Create Account
                  </a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}